# Python
__pycache__/
*.pyc
.venv/
env/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
override.tf
override.tf.json
*.backup

# AWS
*.pem
*.zip
*.bak

# VS Code / PyCharm
.vscode/
.idea/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
